/* This is the stylesheet for index.htm
    It uses a grid layout and flexboxes to create cards
 */

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-items: stretch;
    align-items: stretch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    margin-top:0px;
}


/* A button that will appear if you scroll. It will take us to the top*/

#topButton {
    display: inline-block;
    background-color: #333;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#topButton:hover {
    cursor: pointer;
    background-color: darkred;
}

#topButton.show {
    opacity: 1;
    visibility: visible;
}


/* Declarations for different grid areas */

.pagegridheader {
    grid-area: 1 / 1 / span 1 / span 1;
     width: 100%;
     position: fixed;
}

.pagegridnavigation {
    grid-area: 2 / 1 / span 1 /span 1
}

.pagegridsrcol {
    grid-area: 3 / 1 / span 1 / span 1;
    overflow: auto
}

.pagegridsfooter {
    grid-area: 4 / 1 / span 1 / span 1
}


/* These are used in navigation */

.flexboxnav {
    justify-content: flex-end;
    background-color: #393939;
}

nav li:nth-child(2n+1) {
    background-color: #726e6e;
}

nav li:nth-child(2n+0) a:visited {
    color: rgb(109, 107, 107)
}

nav li:nth-child(2n+0) {
    background-color: #a5a5a5
}

nav li {
    list-style-type: none;
    padding: 1.3rem;
    font-weight: bold
}

nav div:hover {
    background-color: white;
}

nav a {
    text-decoration: none;
    padding: inherit;
    color: rgb(20, 20, 20);
}

a:visited {
    color: rgb(161, 161, 161);
}

a:hover,
a:active,
a:focus {
    color: darkred;
    text-decoration: none;
}


/* The scrollable part deals mostly with flexboxes. This is some basic stuff to make them look okay*/

.flexboxheader,
.flexboxnav,
.flexFakultaet {
    display: flex;
    flex-flow: row wrap;
}


/* continue with the header and welcome message*/

.flexboxheader {
    justify-content: space-between;
    align-items: center;
}

#welcomeMessage {
    padding: 2rem;
}


/*footer has to be styled as well*/

header,
footer {
    color: white;
    background-color: #393939;
}

footer {
    padding: 0.5rem;
}


/* Container for different flexbox cards */

.flexFakultaet {
    justify-content: space-between;
    align-items: stretch;
}


/*The youtube part with the text and video*/

.flexyouTube {
    flex-flow: column;
    max-width: 90%;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: #666;
    justify-content: center;
    padding: 3em;
}

.dhbwText {
    padding: 2rem;
}

.youtube {
    margin: 1rem;
}


/*A basic container for title, image, picture*/

.card {
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.card:hover {
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
}


/*One single Fakultaet element now, containing label, image and text*/

.Fakultaet {
    max-width: 75%;
}

.FakLabel {
    font-size: 1.6rem;
    color: white;
    background-color: #393939;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
}

.FakImg {
    flex-grow: 1;
}

.FakImg>img {
    max-width: 100%;
}

.FakTxt {
    flex-grow: 2;
}


/*This is the popup that will display if "Dienste" is clicked*/

#PullupServices {
    cursor: pointer;
}

.popup {
    left: 0;
    display: none;
    background-color: white;
    position: fixed;
    padding: 6px;
    border-style: solid;
    border-width: 0.5px;
    max-width: 60%;
    z-index: 10;
}

.popupItem a {
    text-decoration: none;
    color: black;
}

.popupItem a:visited {
    color: black;
}

.popupItem {
    list-style-type: none;
    padding: 5px;
}

.rand {
    cursor: pointer;
    display: inline-block;
    border: black;
    border-style: solid;
    border-width: 0.5px;
    padding: 4px;
    width: 15rem;
    border-radius: 5%;
    margin: 5px;
}

#popupli2 {
    padding: 4px;
    margin: 5px;
}

.backButton {
    font-size: 0.7rem;
    text-align: center;
    box-shadow: #393939;
    cursor: pointer;
    background-color: white;
}


/* Changes depending on screen size to make everything a little better for mobile
  */

@media only screen and (min-width: 10px) {
    header span {
        font-size: 1rem;
        padding-right: 1.0rem
    }
    h1{
        display: none
    }
    nav li {
        flex: 1 0 100%;
        padding: 0.5rem;
    }
    .FakImg {
        flex-basis: 100%
    }
    .FakTxt {
        flex-basis: 100%
    }
     /*Quick and dirty, maybe fix later*/
     .flexboxnav{
        margin: 0rem 1rem;
    }
    .flexboxheader{
        margin-right:1rem;
    }
    .rand{
        width: 7rem;
    }
}


/* For small  tablets: 450-700  */

@media only screen and (min-width: 450px) {
    header span {
        font-size: 1.2rem;
        padding-right: 1.2rem
    }
    nav li {
        flex: 1 0 0
    }
    .FakImg {
        flex-basis: auto;
    }
    .FakTxt {
        flex-basis: auto;
    }
   
}


/*Specific breakpoint needed*/

@media only screen and (max-width: 560px) {
    #welcomeMessage {
        display: none;
    }
}


/*700-1000px*/

@media only screen and (min-width: 700px) {
    header span {
        font-size: 1.4rem;
        padding-right: 1.5rem
    }
    .FakImg {
        flex-basis: 50%;
    }
    .FakTxt {
        flex-basis: 50%;
    }
    .Rowtable {
        display: flex;
    }
    .Rowtable>.cell {
        width: 33.33% !important;
    }
}


/* >1000px */

@media only screen and (min-width: 1000px) {
    header span {
        font-size: 1.6rem;
        padding-right: 2rem
    }
}